docs/n8n/self_api_小图服务器训练.json
{
  "name": "self_api_小图服务器训练",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5824,
        768
      ],
      "id": "ecf3c0b8-56d5-4996-a852-4d9597a3350d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $json.self_api }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5376,
        768
      ],
      "id": "6b4d975b-7e79-4b6e-9400-bd17782bc1ff",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/xml-to-yolo/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xmls"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "write_classes_file",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5152,
        768
      ],
      "id": "009272ac-a99a-472b-9b6a-b75efc494ac3",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54590ca-7856-4eaf-85ec-58236b4abe3e",
              "name": "self_api",
              "value": "=http://192.168.2.26:8666",
              "type": "string"
            },
            {
              "id": "ab2f8629-80d2-4888-a430-5746f0f23496",
              "name": "original_dataset",
              "value": "/media/qzq/16T/TEDS/广州局__转向架__正线漏油/20260312/1/正线故障第二批-划痕漏油破损异物/漏油/zxj/牵引电机/dibu",
              "type": "string"
            },
            {
              "id": "f5d76981-1d2b-4cfa-80bf-6aa5573f1cca",
              "name": "temp_dataset",
              "value": "/media/qzq/16T/TEDS/广州局__转向架__正线漏油/20260312/1/正线故障第二批-划痕漏油破损异物/漏油/zxj/牵引电机/dibu/dataset",
              "type": "string"
            },
            {
              "id": "3145aa9b-ac14-4328-8e57-924b85b46aba",
              "name": "project_root_dir",
              "value": "/mnt/usrhome/sk/ndata/TVDS_n8n",
              "type": "string"
            },
            {
              "id": "f7ac4c53-2a1b-4c6a-9a5b-1f2e3d4c5b6a",
              "name": "sever",
              "value": "172.31.1.9",
              "type": "string"
            },
            {
              "id": "90e7b625-d57e-4aa5-97ac-82f5c2ffce11",
              "name": "sftp_username",
              "value": "sk",
              "type": "string"
            },
            {
              "id": "5d12f4b3-a84f-47ad-b653-3ca5c9d5e4f7",
              "name": "sftp_private_key_path",
              "value": "~/.ssh/id_ed25519",
              "type": "string"
            },
            {
              "id": "a386ad76-63b9-411e-83db-7ca1c952bc16",
              "name": "detector_name",
              "value": "qianyindianji_louyou",
              "type": "string"
            },
            {
              "id": "b4c5d6e7-f8a9-4012-b345-6789abcdef01",
              "name": "yolo_train_env",
              "value": "v11_sk",
              "type": "string"
            },
            {
              "id": "c5d6e7f8-a9b0-4123-c456-789abcdef012",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "d6e7f8a9-b0c1-4234-d567-89abcdef0123",
              "name": "yolo_train_epochs",
              "value": "10",
              "type": "string"
            },
            {
              "id": "e7f8a9b0-c1d2-4345-e678-9abcdef01234",
              "name": "yolo_train_imgsz",
              "value": "640",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5600,
        768
      ],
      "id": "ef6aa273-9e7f-41ca-b178-917b4f851215",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/split-yolo-dataset/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}/{{ $('base_config').first().json.detector_name  +'_'+new Date().toISOString().slice(0,19).replace(/[-T:]/g, '').replace(/^(\\d{4})(\\d{2})(\\d{2})(\\d{2})(\\d{2})(\\d{2})$/, '$1$2$3_$4$5$6') + \"_\" }}"
            },
            {
              "name": "mode",
              "value": "train_val"
            },
            {
              "name": "train_ratio",
              "value": "0.85"
            },
            {
              "name": "val_ratio",
              "value": "0.15"
            },
            {
              "name": "shuffle",
              "value": "true"
            },
            {
              "name": "seed",
              "value": "42"
            },
            {
              "name": "copy_files",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4256,
        656
      ],
      "id": "ae507e80-c6d4-456f-9610-52e9d64fa59f",
      "name": "split-yolo-dataset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_xml-to-yolo').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4480,
        704
      ],
      "id": "3c06bd38-5730-4e69-ab63-d0ba40012961",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4256,
        864
      ],
      "id": "375ec99e-d1ba-4cd5-8b58-105200453623",
      "name": "Wait",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4928,
        768
      ],
      "id": "28960633-eb55-4052-8ddb-49bf84b5a348",
      "name": "Wait1",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_split-yolo-dataset').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3584,
        576
      ],
      "id": "238683de-d609-4356-8dff-8c6284a5325f",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3360,
        752
      ],
      "id": "8a1903ba-942f-4184-8984-2483e04abb71",
      "name": "Wait2",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4032,
        656
      ],
      "id": "15c33225-22b4-48bb-9256-fcd14b6ce693",
      "name": "Wait3",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('xml-to-yolo').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4704,
        768
      ],
      "id": "33b9c86e-b73e-489d-a910-02e64e280035",
      "name": "状态判断_xml-to-yolo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('状态判断_split-yolo-dataset').item.json.result.output_dir }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('状态判断_split-yolo-dataset').item.json.result.output_dir + '/' }}{{ $('状态判断_split-yolo-dataset').item.json.result.output_dir.split(\"/\").last()+\".yaml\"}}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('状态判断_split-yolo-dataset').item.json.result.output_dir.split('/').slice(0, -1).join('/') }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir }}{{ $('base_config').first().json.project_root_dir.endsWith('/') ? '' : '/' }}{{ $('base_config').first().json.detector_name }}/dataset"
            },
            {
              "name": "classes_file",
              "value": "={{ $('base_config').first().json.original_dataset+'/'+'classes.txt' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3360,
        528
      ],
      "id": "f7d775b0-9d75-4d75-b633-27771ec1b5c5",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('split-yolo-dataset').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3808,
        656
      ],
      "id": "c6caf3bf-4953-4849-a269-609e1f59900b",
      "name": "状态判断_split-yolo-dataset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_zip-folder').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2464,
        464
      ],
      "id": "5c8f8316-af37-4463-906d-41f2aee10b38",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2240,
        624
      ],
      "id": "cd3d277d-1d32-4383-8a11-d0f931c80bb0",
      "name": "Wait10",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2912,
        528
      ],
      "id": "4f5a93f7-4d63-4aa8-8914-4a6bc22b4d15",
      "name": "Wait11",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('zip-folder').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2688,
        528
      ],
      "id": "6e63f174-721a-4618-8cf4-9353582e8815",
      "name": "状态判断_zip-folder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.dataset_root }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $json.dataset_root + \".zip\"}}"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3136,
        528
      ],
      "id": "61173eb1-5f40-4462-b46e-7298955f2d04",
      "name": "zip-folder",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_move-path').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        336
      ],
      "id": "0851c2c8-78de-4fdc-ae41-655b32ab0fef",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1344,
        416
      ],
      "id": "6b31bdd9-d3f0-4412-8c7f-321d33878da4",
      "name": "Wait12",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2016,
        416
      ],
      "id": "d47a0491-0a7f-4cf4-b9c4-b3203fdaa6b6",
      "name": "Wait13",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-transfer/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.result.output_zip_path }}"
            },
            {
              "name": "target",
              "value": "={{ 'sftp://' + $('base_config').item.json.sever + $('base_config').item.json.project_root_dir+'/' +$('base_config').first().json.detector_name + '/dataset' }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2240,
        416
      ],
      "id": "23d6ed65-b912-4170-aa12-fe008385efb7",
      "name": "move-path"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('move-path').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1792,
        416
      ],
      "id": "d21656f3-0678-4d9f-a616-43eacde06492",
      "name": "状态判断_move-path"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_unzip-archive').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        720
      ],
      "id": "085430fa-121b-4735-907f-906d2590071a",
      "name": "If7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        912
      ],
      "id": "c69c971a-559f-43cb-a7bf-a31e37f6db28",
      "name": "Wait14",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1120,
        720
      ],
      "id": "5e143bf6-f1e1-4f16-8a11-512bbaaae09b",
      "name": "Wait15",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e6f2a54-f860-4a66-86d8-179a68f15431",
              "name": "remote_archive_path",
              "value": "={{ $json.result.target_path }}",
              "type": "string"
            },
            {
              "id": "3f2bb01f-9b59-4308-93ad-3fd43a8f6835",
              "name": "remote_archive_sftp_full_path",
              "value": "={{ 'sftp://' + $json.result.target_host + $json.result.target_path }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        720
      ],
      "id": "e77a8bb9-f90a-4c41-b4a4-ff728d411225",
      "name": "组装远端压缩包路径"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-unzip/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $json.remote_archive_sftp_full_path }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "=true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.remote_archive_sftp_full_path.split('/').slice(0,-1).join('/')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        720
      ],
      "id": "fd4fd800-e0e3-4f13-ba4b-173ce5ec5011",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('unzip-archive').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        720
      ],
      "id": "b5e913f1-9962-47a9-8afd-885bd13192b1",
      "name": "状态判断_unzip-archive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.26:8666/api/v1/preprocess/remote-slurm-yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $json.result.output_dir }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().split('.')[0]}}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop() }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('base_config').first().json.project_root_dir }}"
            },
            {
              "name": "username",
              "value": "sk"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "model",
              "value": "={{ $('base_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('base_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('base_config').first().json.yolo_train_imgsz }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        688
      ],
      "id": "7f70e680-61ac-4480-b472-afd92fbbd704",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-yolo-dataset": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_xml-to-yolo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_split-yolo-dataset": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_zip-folder": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "组装远端压缩包路径",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装远端压缩包路径": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_move-path": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_unzip-archive": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e2c468c-c965-47fe-9e52-b2af83d1c74a",
  "meta": {
    "instanceId": "1b3e6ee362a456055e06758c3fd4e960c3621b1a8e2c51a10220c369f5f16c17"
  },
  "id": "ukHA0LbI2JZlC1te",
  "tags": []
}