docs/n8n/self_api_大图(images_xmls)_常发模型迭代_2_从build-yolo-yaml到slurm结束.json
{
  "name": "self_api_大图(images/xmls)_常发模型迭代_2_从build-yolo-yaml到slurm结束",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2288,
        128
      ],
      "id": "5a3ca3ee-40fb-4ec9-b0a8-044de1f3eec8",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "self_api",
              "value": "http://127.0.0.1:8666",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "input_dataset_dir",
              "value": "/media/qzq/16T/n8n_workspace/nzxj_diaban_louyou/20260413_非转数据拟合/nzxj_louyou_20260423_110000_",
              "type": "string"
            },
            {
              "id": "b3",
              "name": "project_root_dir",
              "value": "/mnt/usrhome/sk/ndata/TEDS_n8n",
              "type": "string"
            },
            {
              "id": "b4",
              "name": "sever",
              "value": "172.31.1.9",
              "type": "string"
            },
            {
              "id": "b5",
              "name": "sftp_username",
              "value": "sk",
              "type": "string"
            },
            {
              "id": "b6",
              "name": "sftp_private_key_path",
              "value": "~/.ssh/id_ed25519",
              "type": "string"
            },
            {
              "id": "b7",
              "name": "detector_name",
              "value": "nzxj_louyou",
              "type": "string"
            },
            {
              "id": "b8",
              "name": "last_yaml",
              "value": "sftp://172.31.1.9/mnt/usrhome/sk/ndata/datasets/louyou/20260407_非转数据拟合/20260407_非转数据拟合.yaml",
              "type": "string"
            },
            {
              "id": "b9",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "b10",
              "name": "yolo_train_epochs",
              "value": "200",
              "type": "string"
            },
            {
              "id": "b11",
              "name": "yolo_train_imgsz",
              "value": "800",
              "type": "string"
            },
            {
              "id": "b12",
              "name": "batch",
              "value": "24",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        128
      ],
      "id": "6d5c86f2-ca76-49c5-8f34-d8e951694267",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').first().json.input_dataset_dir }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('base_config').first().json.input_dataset_dir + '/' + $('base_config').first().json.input_dataset_dir.split('/').last() + '.yaml' }}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('base_config').first().json.input_dataset_dir.split('/').slice(0, -1).join('/') }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir }}{{ $('base_config').first().json.project_root_dir.endsWith('/') ? '' : '/' }}{{ $('base_config').first().json.detector_name }}/dataset"
            },
            {
              "name": "last_yaml",
              "value": "={{ $('base_config').first().json.last_yaml }}"
            },
            {
              "name": "sftp_username",
              "value": "={{ $('base_config').first().json.sftp_username }}"
            },
            {
              "name": "sftp_private_key_path",
              "value": "={{ $('base_config').first().json.sftp_private_key_path }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1840,
        128
      ],
      "id": "b3061f79-5c05-4e8f-9f95-dbe4f93c6849",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').first().json.input_dataset_dir }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $('base_config').first().json.input_dataset_dir + '.zip' }}"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1616,
        128
      ],
      "id": "dd32d882-e560-4f4f-8a2f-78b4fc03f177",
      "name": "zip-folder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-transfer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.output_zip_path }}"
            },
            {
              "name": "target",
              "value": "={{ 'sftp://' + $('base_config').item.json.sever + $('base_config').item.json.project_root_dir + '/' + $('base_config').first().json.detector_name + '/dataset' }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1392,
        128
      ],
      "id": "0e58400c-6a46-4f3e-86de-5764c3cfab39",
      "name": "move-path"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "remote_archive_path",
              "value": "={{ $json.target_path }}",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "remote_archive_sftp_full_path",
              "value": "={{ 'sftp://' + $json.target_host + $json.target_path }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        128
      ],
      "id": "d58e7fb4-0c57-4427-b65f-3eb7278d4a71",
      "name": "组装远端压缩包路径"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-unzip/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $json.remote_archive_sftp_full_path }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "=true"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.remote_archive_sftp_full_path.split('/').slice(0,-1).join('/') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -944,
        128
      ],
      "id": "61b66cbf-7b67-45bc-9cf6-4f00cb1eca0e",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').first().json.self_api + '/api/v1/preprocess/tasks/' + $('unzip-archive').last().json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -720,
        128
      ],
      "id": "3a923e34-e9cc-45dd-81e0-7bc17e620ca4",
      "name": "解压缩状态获取"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "succeeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "s1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "s2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "s3"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -496,
        32
      ],
      "id": "0e2e1708-9481-4060-8c08-fef8f6175a8a",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -272,
        208
      ],
      "id": "65ab35ef-f97f-4f34-b368-1c6ec4be6a9e",
      "name": "Wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/remote-slurm-yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $json.result.output_dir }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().split('.')[0] }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop() }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('base_config').first().json.project_root_dir }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').first().json.sftp_username }}"
            },
            {
              "name": "model",
              "value": "={{ $('base_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('base_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('base_config').first().json.yolo_train_imgsz }}"
            },
            {
              "name": "batch",
              "value": "={{ $('base_config').first().json.batch }}"
            },
            {
              "name": "workers",
              "value": "4"
            },
            {
              "name": "cache",
              "value": "True"
            },
            {
              "name": "project",
              "value": "={{ $('base_config').first().json.project_root_dir + '/' + $('base_config').first().json.detector_name + '/runs/detect' }}"
            },
            {
              "name": "name",
              "value": "={{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().replace('.yaml','') }}"
            },
            {
              "name": "partition",
              "value": "gpu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -64
      ],
      "id": "e3f3b8b1-f0e1-48a1-89ec-655f10486534",
      "name": "提交slurm任务"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "组装远端压缩包路径",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装远端压缩包路径": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "解压缩状态获取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解压缩状态获取": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "提交slurm任务",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "解压缩状态获取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
