docs/n8n/self_api_小图(images_xmls)_baseline模型训练.json
{
  "name": "self_api_小图(images/xmls)_baseline模型训练",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3536,
        -368
      ],
      "id": "cf798c10-559d-4a79-ac81-91232802ec71",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/xml-to-yolo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xmls"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "write_classes_file",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2864,
        -368
      ],
      "id": "5028706a-3e3f-4cd5-b27a-1a4babbc16b3",
      "name": "xml-to-yolo",
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54590ca-7856-4eaf-85ec-58236b4abe3e",
              "name": "self_api",
              "value": "=http://192.168.2.35:8666",
              "type": "string"
            },
            {
              "id": "90e7b625-d57e-4aa5-97ac-82f5c2ffce11",
              "name": "sftp_username",
              "value": "xlh",
              "type": "string"
            },
            {
              "id": "f7ac4c53-2a1b-4c6a-9a5b-1f2e3d4c5b6a",
              "name": "sever",
              "value": "172.31.1.42",
              "type": "string"
            },
            {
              "id": "5d12f4b3-a84f-47ad-b653-3ca5c9d5e4f7",
              "name": "sftp_private_key_path",
              "value": "~/.ssh/id_ed25519",
              "type": "string"
            },
            {
              "id": "ab2f8629-80d2-4888-a430-5746f0f23496",
              "name": "original_dataset",
              "value": "/home/user/TVDS/TV数据集训练和推理/动集/A类/A_检修盖板丢失/data",
              "type": "string"
            },
            {
              "id": "f5d76981-1d2b-4cfa-80bf-6aa5573f1cca",
              "name": "temp_dataset",
              "value": "/home/user/TVDS/TV数据集训练和推理/动集/A类/A_检修盖板丢失/data/dataset",
              "type": "string"
            },
            {
              "id": "3145aa9b-ac14-4328-8e57-924b85b46aba",
              "name": "project_root_dir",
              "value": "/mnt/usrhome/xlh/ndata/TVDS_n8n",
              "type": "string"
            },
            {
              "id": "a386ad76-63b9-411e-83db-7ca1c952bc16",
              "name": "detector_name",
              "value": "jianxiugaiban_diushi",
              "type": "string"
            },
            {
              "id": "b4c5d6e7-f8a9-4012-b345-6789abcdef01",
              "name": "yolo_train_env",
              "value": "v11_sk",
              "type": "string"
            },
            {
              "id": "c5d6e7f8-a9b0-4123-c456-789abcdef012",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "d6e7f8a9-b0c1-4234-d567-89abcdef0123",
              "name": "yolo_train_epochs",
              "value": "150",
              "type": "string"
            },
            {
              "id": "e7f8a9b0-c1d2-4345-e678-9abcdef01234",
              "name": "yolo_train_imgsz",
              "value": "800",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3312,
        -368
      ],
      "id": "701e773a-ec36-4387-8205-eaa3a562a9f7",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir + '/' }}{{ $('split-yolo-dataset').item.json.output_dir.split(\"/\").last()+\".yaml\"}}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir.split('/').slice(0, -1).join('/') }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir }}{{ $('base_config').first().json.project_root_dir.endsWith('/') ? '' : '/' }}{{ $('base_config').first().json.detector_name }}/dataset"
            },
            {
              "name": "classes_file",
              "value": "={{ $('base_config').first().json.original_dataset+'/'+'classes.txt' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1744,
        -368
      ],
      "id": "a69731ba-1a53-4e3b-8ae2-1b2d8f5df14e",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.dataset_root }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $json.dataset_root + \".zip\"}}"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1520,
        -368
      ],
      "id": "b47e7759-d9fa-4de7-ab3f-32dcc0f613ac",
      "name": "zip-folder",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-transfer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.output_zip_path }}"
            },
            {
              "name": "target",
              "value": "={{ 'sftp://' + $('base_config').item.json.sever + $('base_config').item.json.project_root_dir+'/' +$('base_config').first().json.detector_name + '/dataset' }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1296,
        -368
      ],
      "id": "260a553d-0a45-4bf9-8a61-4c26b22233b4",
      "name": "move-path"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e6f2a54-f860-4a66-86d8-179a68f15431",
              "name": "remote_archive_path",
              "value": "={{ $json.target_path }}",
              "type": "string"
            },
            {
              "id": "3f2bb01f-9b59-4308-93ad-3fd43a8f6835",
              "name": "remote_archive_sftp_full_path",
              "value": "={{ 'sftp://' + $json.target_host + $json.target_path }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        -368
      ],
      "id": "4b4f18f6-d065-44ba-ab53-61f5ad52faf6",
      "name": "组装远端压缩包路径"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-unzip/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $json.remote_archive_sftp_full_path }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "=true"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.remote_archive_sftp_full_path.split('/').slice(0,-1).join('/')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -848,
        -368
      ],
      "id": "0a0300c7-4c3b-42f0-9ed2-4f71d661c139",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1968,
        -368
      ],
      "id": "e2a1aeb6-d7fa-4bd8-9fc1-36fb950927ed",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -176,
        -272
      ],
      "id": "c541ba27-ce69-471c-b0db-53ba79f2c887",
      "name": "Wait",
      "webhookId": "7838da9c-f79a-4ae7-8910-2250a871db40"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "succeeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9a5294b-3e64-40d0-a855-ba6be39cca44"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e0ab66ae-f2ae-42c8-8dff-05b2cf27c348",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b2d641a4-aaeb-4caa-990c-1dd235a51db2",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -400,
        -464
      ],
      "id": "a5e85969-3e72-4319-b273-8cde708d1e93",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').first().json.self_api+'/api/v1/preprocess/tasks/' + $('unzip-archive').last().json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        -368
      ],
      "id": "c31cb8ac-de22-40b0-a5f5-8c42105b2d3f",
      "name": "获取压缩包解压状态"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/remote-slurm-yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $json.result.output_dir }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().split('.')[0]}}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop() }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('base_config').first().json.project_root_dir }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').first().json.sftp_username }}"
            },
            {
              "name": "model",
              "value": "={{ $('base_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('base_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('base_config').first().json.yolo_train_imgsz }}"
            },
            {
              "name": "batch",
              "value": "=20"
            },
            {
              "name": "workers",
              "value": "=4"
            },
            {
              "name": "cache",
              "value": "True"
            },
            {
              "name": "project",
              "value": "={{ $('base_config').first().json.project_root_dir + '/' + $('base_config').first().json.detector_name+'/'+ 'runs/detect'}}"
            },
            {
              "name": "name",
              "value": "={{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().replace('.yaml','')}}"
            },
            {
              "name": "partition",
              "value": "gpu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        -496
      ],
      "id": "6e25801c-5d54-47d3-bdd8-7cb98f14ceb9",
      "name": "创建slurm任务"
    },
    {
      "parameters": {
        "url": "={{ $json.self_api }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3088,
        -368
      ],
      "id": "c71c253e-04b7-4686-b632-c31d83e1d738",
      "name": "客户端是否开启",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('base_config').item.json.self_api}}/api/v1/preprocess/split-yolo-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.input_dir }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}/{{ $('base_config').first().json.detector_name  +'_'+new Date().toISOString().slice(0,19).replace(/[-T:]/g, '').replace(/^(\\d{4})(\\d{2})(\\d{2})(\\d{2})(\\d{2})(\\d{2})$/, '$1$2$3_$4$5$6') + \"_\" }}"
            },
            {
              "name": "mode",
              "value": "train_val"
            },
            {
              "name": "train_ratio",
              "value": "0.8"
            },
            {
              "name": "val_ratio",
              "value": "0.2"
            },
            {
              "name": "shuffle",
              "value": "true"
            },
            {
              "name": "seed",
              "value": "42"
            },
            {
              "name": "copy_files",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2640,
        -368
      ],
      "id": "2a1a04e3-6d89-4b70-9704-46556c7e63b1",
      "name": "split-yolo-dataset"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('base_config').item.json.self_api}}/api/v1/preprocess/yolo-txt-augment",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}"
            },
            {
              "name": "horizontal_flip",
              "value": "true"
            },
            {
              "name": "vertical_flip",
              "value": "true"
            },
            {
              "name": "brightness_up",
              "value": "true"
            },
            {
              "name": "brightness_down",
              "value": "true"
            },
            {
              "name": "contrast_up",
              "value": "true"
            },
            {
              "name": "contrast_down",
              "value": "true"
            },
            {
              "name": "gaussian_blur",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2192,
        -464
      ],
      "id": "187828f2-1cea-445a-9ab4-625b2741d5d6",
      "name": "train-aug"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('base_config').item.json.self_api}}/api/v1/preprocess/yolo-sliding-window-crop",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir }}/train/images"
            },
            {
              "name": "labels_dir",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir }}/train/labels"
            },
            {
              "name": "output_dir",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir }}/crop/train"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2416,
        -464
      ],
      "id": "a5747dfc-5cda-4688-80c0-822f5464a36b",
      "name": "train-crop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('base_config').item.json.self_api}}/api/v1/preprocess/yolo-txt-augment",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}"
            },
            {
              "name": "horizontal_flip",
              "value": "true"
            },
            {
              "name": "vertical_flip",
              "value": "true"
            },
            {
              "name": "brightness_up",
              "value": "true"
            },
            {
              "name": "brightness_down",
              "value": "true"
            },
            {
              "name": "contrast_up",
              "value": "true"
            },
            {
              "name": "contrast_down",
              "value": "true"
            },
            {
              "name": "gaussian_blur",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2192,
        -272
      ],
      "id": "e05631fa-bf85-42c8-bd27-15ed4ed12f11",
      "name": "val-aug"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api}}/api/v1/preprocess/yolo-sliding-window-crop",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{$('split-yolo-dataset').item.json.output_dir}}/val/images"
            },
            {
              "name": "labels_dir",
              "value": "={{$('split-yolo-dataset').item.json.output_dir}}/val/labels"
            },
            {
              "name": "output_dir",
              "value": "={{$('split-yolo-dataset').item.json.output_dir}}/crop/val"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2416,
        -272
      ],
      "id": "a683708f-a318-45f7-ae8c-bd83b9f44bb8",
      "name": "val-crop"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "客户端是否开启",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装远端压缩包路径": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "组装远端压缩包路径",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "获取压缩包解压状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "获取压缩包解压状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "创建slurm任务",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取压缩包解压状态": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "客户端是否开启": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-yolo-dataset": {
      "main": [
        [
          {
            "node": "train-crop",
            "type": "main",
            "index": 0
          },
          {
            "node": "val-crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "train-aug": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "train-crop": {
      "main": [
        [
          {
            "node": "train-aug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "val-aug": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "val-crop": {
      "main": [
        [
          {
            "node": "val-aug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c633316-8b6b-4d9e-8720-a818fc9f4655",
  "meta": {
    "instanceId": "1b3e6ee362a456055e06758c3fd4e960c3621b1a8e2c51a10220c369f5f16c17"
  },
  "id": "hlFsNHbdqSjbcH9K",
  "tags": []
}
