docs/n8n/self_api — dataset1（拖拉拽·无 Code）.json
{
  "name": "self_api — dataset1（拖拉拽·无 Code）",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1104,
        6768
      ],
      "id": "018292dd-6c31-4418-96b9-ada57bc8ee5e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $json.self_api }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        6768
      ],
      "id": "7816de3d-2006-46ba-b081-a7daa991ef6b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/xml-to-yolo/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xmls"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "write_classes_file",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1776,
        6768
      ],
      "id": "4939bf56-ccf9-49b3-9dcf-f64cf171b541",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54590ca-7856-4eaf-85ec-58236b4abe3e",
              "name": "self_api",
              "value": "=http://192.168.71.73:8666",
              "type": "string"
            },
            {
              "id": "ab2f8629-80d2-4888-a430-5746f0f23496",
              "name": "original_dataset",
              "value": "/Users/songkui/mycode/self_api/tmp_datasets/dataset1",
              "type": "string"
            },
            {
              "id": "f5d76981-1d2b-4cfa-80bf-6aa5573f1cca",
              "name": "temp_dataset",
              "value": "/Users/songkui/mycode/self_api/tmp_datasets/dataset1/dataset",
              "type": "string"
            },
            {
              "id": "3145aa9b-ac14-4328-8e57-924b85b46aba",
              "name": "project_root_dir",
              "value": "/Users/songkui/mycode/self_api/TVDS",
              "type": "string"
            },
            {
              "id": "a386ad76-63b9-411e-83db-7ca1c952bc16",
              "name": "detector_name",
              "value": "dog_cat_pig",
              "type": "string"
            },
            {
              "id": "b4c5d6e7-f8a9-4012-b345-6789abcdef01",
              "name": "yolo_train_env",
              "value": "yolo_pose",
              "type": "string"
            },
            {
              "id": "c5d6e7f8-a9b0-4123-c456-789abcdef012",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "d6e7f8a9-b0c1-4234-d567-89abcdef0123",
              "name": "yolo_train_epochs",
              "value": "100",
              "type": "string"
            },
            {
              "id": "e7f8a9b0-c1d2-4345-e678-9abcdef01234",
              "name": "yolo_train_imgsz",
              "value": "640",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        6768
      ],
      "id": "51c693f8-c22a-4e16-90ef-4b3a1c11e3cd",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/split-yolo-dataset/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}/yolo_split"
            },
            {
              "name": "mode",
              "value": "train_val_test"
            },
            {
              "name": "train_ratio",
              "value": "0.8"
            },
            {
              "name": "val_ratio",
              "value": "0.1"
            },
            {
              "name": "test_ratio",
              "value": "0.1"
            },
            {
              "name": "shuffle",
              "value": "true"
            },
            {
              "name": "seed",
              "value": "42"
            },
            {
              "name": "copy_files",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2672,
        6656
      ],
      "id": "45fab7ad-8f60-4a04-af82-74af98105cb1",
      "name": "split-yolo-dataset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_xml-to-yolo').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2448,
        6704
      ],
      "id": "d21844ad-17ea-4f8c-b830-8c28a6ab0d00",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2672,
        6864
      ],
      "id": "ac7438ec-9351-491c-bf35-9f53e52e26a6",
      "name": "Wait",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        6768
      ],
      "id": "d997bca5-9497-4603-ad19-b2f75a896606",
      "name": "Wait1",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_split-yolo-dataset').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3344,
        6560
      ],
      "id": "bd7aabc4-c132-46e5-88ee-8d5bc8609d4f",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3568,
        6912
      ],
      "id": "56737009-3bfc-462e-939b-04c9701e4fec",
      "name": "Wait2",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2896,
        6656
      ],
      "id": "af67d5c6-bc3a-4dc3-8480-5e1ef9caa2da",
      "name": "Wait3",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/yolo-sliding-window-crop/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $json.result.output_dir + '/images/train' }}"
            },
            {
              "name": "labels_dir",
              "value": "={{ $json.result.output_dir + '/labels/train' }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}/train"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        5920
      ],
      "id": "834fc052-b0a1-44b8-a4cd-2c4d88501f1a",
      "name": "train_crop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/yolo-sliding-window-crop/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $json.result.output_dir + '/images/val' }}"
            },
            {
              "name": "labels_dir",
              "value": "={{ $json.result.output_dir + '/labels/val' }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}/val"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        6304
      ],
      "id": "acbc4636-7874-4092-8a55-06fa53a54daf",
      "name": "val_crop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/yolo-sliding-window-crop/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $json.result.output_dir + '/images/test' }}"
            },
            {
              "name": "labels_dir",
              "value": "={{ $json.result.output_dir + '/labels/test' }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}/test"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        6720
      ],
      "id": "72a01e29-1624-45f5-8cdd-b5f7066838f4",
      "name": "test_crop"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('xml-to-yolo').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        6768
      ],
      "id": "58f33b9c-70be-45fd-be23-08b8547c5910",
      "name": "状态判断_xml-to-yolo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_test_crop').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4240,
        6624
      ],
      "id": "92d4de7f-2fe1-4e5b-9ed0-e4999576f059",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4464,
        6768
      ],
      "id": "aa3075e9-a512-462c-bc62-394dfa35ae4b",
      "name": "Wait4",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        6720
      ],
      "id": "888093fd-920b-42d3-ae82-e5338ee916e0",
      "name": "Wait5",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_val_crop').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4240,
        6240
      ],
      "id": "af60463a-9179-4e12-995b-9ec0667b54e1",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4464,
        6512
      ],
      "id": "ebd4d997-378d-4c27-8d10-92e3f9a6c04f",
      "name": "Wait6",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        6304
      ],
      "id": "929a2903-b1a8-4e2a-bb86-05ead8c8128f",
      "name": "Wait7",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_train_crop').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4240,
        5840
      ],
      "id": "c3085f59-5845-4816-9307-2a2c17f19f46",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4464,
        5920
      ],
      "id": "e7ba6120-db98-4255-a64b-eabcc2b189bc",
      "name": "Wait8",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3792,
        5920
      ],
      "id": "db5c3e15-fcae-4b2f-8608-3e7d7c90a3b3",
      "name": "Wait9",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4464,
        6224
      ],
      "id": "b14be9b6-6316-491b-af06-a0a65c54ea39",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').first().json.temp_dataset }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('base_config').first().json.temp_dataset + '/' + $('base_config').first().json.temp_dataset.split('/').pop() + '.yaml' }}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('base_config').first().json.original_dataset }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir + '/' + $('base_config').first().json.detector_name }}"
            },
            {
              "name": "classes_file",
              "value": "={{ $('base_config').first().json.original_dataset+'/'+'classes.txt' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4688,
        6240
      ],
      "id": "30d8b444-25af-4857-85f0-3be46ba95bff",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $json.result.output_dir }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().split('.')[0]}}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop() }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('base_config').first().json.project_root_dir }}"
            },
            {
              "name": "yolo_train_env",
              "value": "={{ $('base_config').first().json.yolo_train_env }}"
            },
            {
              "name": "model",
              "value": "={{ $('base_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "=1"
            },
            {
              "name": "imgsz",
              "value": "={{ $('base_config').first().json.yolo_train_imgsz }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7600,
        6480
      ],
      "id": "27815876-6264-41c7-bb02-5f2ffb4c2b11",
      "name": "yolo-train"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('split-yolo-dataset').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3120,
        6656
      ],
      "id": "c94c8b49-0083-4acc-a383-a6e7328605d4",
      "name": "状态判断_split-yolo-dataset"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('train_crop').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4016,
        5920
      ],
      "id": "fe93c75b-b490-4679-9b44-15f09a6feb59",
      "name": "状态判断_train_crop",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('val_crop').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4016,
        6304
      ],
      "id": "b0213b7e-9702-4fa3-b86a-25d5ff6ab386",
      "name": "状态判断_val_crop"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('test_crop').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4016,
        6720
      ],
      "id": "dd39cdf8-2b71-4199-8bd5-e7c83ec07e2c",
      "name": "状态判断_test_crop"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_zip-folder').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5584,
        6160
      ],
      "id": "c60985ea-0b04-42a9-9ca7-05f037de26ff",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5808,
        6336
      ],
      "id": "2934e3b0-a4f7-4c54-9e5a-40e947cfd4cf",
      "name": "Wait10",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5136,
        6240
      ],
      "id": "e890badf-03e7-4f27-9a9d-9b4a81d0e74f",
      "name": "Wait11",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('zip-folder').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5360,
        6240
      ],
      "id": "2ea3e090-f56b-407b-bc08-d8009c6913c3",
      "name": "状态判断_zip-folder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $('base_config').item.json.original_dataset }}/dataset.zip"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4912,
        6240
      ],
      "id": "cee41e5b-b316-47b9-9651-a71cb8a593db",
      "name": "zip-folder",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_move-path').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6480,
        6048
      ],
      "id": "8d4d3a5a-4b28-44f8-ba5a-7c28547ae1de",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6704,
        6112
      ],
      "id": "b45c0e19-6651-434b-b957-6a7eb56c0691",
      "name": "Wait12",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6032,
        6112
      ],
      "id": "9cde15ee-f111-4ec5-93a0-79fa6c0419c5",
      "name": "Wait13",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/move-path/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.result.input_dir }}"
            },
            {
              "name": "target_dir",
              "value": "={{ $('base_config').item.json.project_root_dir}}/{{ $('base_config').item.json.detector_name}}"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5808,
        6112
      ],
      "id": "29a085c2-f465-4e36-9b1a-2ea44cd6a8dd",
      "name": "move-path"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('move-path').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6256,
        6112
      ],
      "id": "33ee654f-b87a-4283-bc02-266fe2af46fc",
      "name": "状态判断_move-path"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_unzip-archive').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7376,
        6480
      ],
      "id": "e7ea4e32-1e4e-4acc-a00c-e324acd6f5b9",
      "name": "If7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7600,
        6672
      ],
      "id": "e55048c1-f928-4ec9-9e47-23e2c87928e7",
      "name": "Wait14",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6928,
        6480
      ],
      "id": "8bee1aea-033c-47d4-8ffc-d34488fc9ed3",
      "name": "Wait15",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/unzip-archive/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $('base_config').item.json.original_dataset }}/dataset.zip"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.project_root_dir }}/{{ $('base_config').item.json.detector_name }}"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6704,
        6480
      ],
      "id": "fd1dcf94-7e2d-4d45-b91a-2a486a44eb8e",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('unzip-archive').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7152,
        6480
      ],
      "id": "51264980-417f-4e57-b65d-61353325c674",
      "name": "状态判断_unzip-archive"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-yolo-dataset": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "test_crop",
            "type": "main",
            "index": 0
          },
          {
            "node": "val_crop",
            "type": "main",
            "index": 0
          },
          {
            "node": "train_crop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "val_crop": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_xml-to-yolo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "状态判断_test_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "状态判断_test_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test_crop": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "状态判断_val_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "状态判断_val_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "状态判断_train_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "状态判断_train_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "train_crop": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_split-yolo-dataset": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_train_crop": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_val_crop": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_test_crop": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yolo-train": {
      "main": [
        []
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_zip-folder": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_move-path": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "yolo-train",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_unzip-archive": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5fd95bcd-edfe-4c0d-b0bf-3f11bc518d3c",
  "meta": {
    "instanceId": "c4b7aa9096bc87944216bba48ef2687b8e22851666781e0193f26f348f4651ec"
  },
  "id": "nBBOStM7x4zX2wZi",
  "tags": []
}