docs/n8n/self_api_小图服务器训练.json
{
  "name": "self_api_小图服务器训练",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -5824,
        512
      ],
      "id": "ecf3c0b8-56d5-4996-a852-4d9597a3350d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $json.self_api }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5376,
        512
      ],
      "id": "6b4d975b-7e79-4b6e-9400-bd17782bc1ff",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/xml-to-yolo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xmls"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "write_classes_file",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5152,
        512
      ],
      "id": "009272ac-a99a-472b-9b6a-b75efc494ac3",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54590ca-7856-4eaf-85ec-58236b4abe3e",
              "name": "self_api",
              "value": "=http://192.168.2.26:8666",
              "type": "string"
            },
            {
              "id": "ab2f8629-80d2-4888-a430-5746f0f23496",
              "name": "original_dataset",
              "value": "/media/qzq/16T/TEDS/广州局__转向架__正线漏油/20260312/1/正线故障第二批-划痕漏油破损异物/漏油/zxj/牵引电机/dibu_small",
              "type": "string"
            },
            {
              "id": "f5d76981-1d2b-4cfa-80bf-6aa5573f1cca",
              "name": "temp_dataset",
              "value": "/media/qzq/16T/TEDS/广州局__转向架__正线漏油/20260312/1/正线故障第二批-划痕漏油破损异物/漏油/zxj/牵引电机/dibu_small/dataset",
              "type": "string"
            },
            {
              "id": "3145aa9b-ac14-4328-8e57-924b85b46aba",
              "name": "project_root_dir",
              "value": "/mnt/usrhome/sk/ndata/TVDS_n8n",
              "type": "string"
            },
            {
              "id": "f7ac4c53-2a1b-4c6a-9a5b-1f2e3d4c5b6a",
              "name": "sever",
              "value": "172.31.1.9",
              "type": "string"
            },
            {
              "id": "90e7b625-d57e-4aa5-97ac-82f5c2ffce11",
              "name": "sftp_username",
              "value": "sk",
              "type": "string"
            },
            {
              "id": "5d12f4b3-a84f-47ad-b653-3ca5c9d5e4f7",
              "name": "sftp_private_key_path",
              "value": "~/.ssh/id_ed25519",
              "type": "string"
            },
            {
              "id": "a386ad76-63b9-411e-83db-7ca1c952bc16",
              "name": "detector_name",
              "value": "qianyindianji_louyou",
              "type": "string"
            },
            {
              "id": "b4c5d6e7-f8a9-4012-b345-6789abcdef01",
              "name": "yolo_train_env",
              "value": "v11_sk",
              "type": "string"
            },
            {
              "id": "c5d6e7f8-a9b0-4123-c456-789abcdef012",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "d6e7f8a9-b0c1-4234-d567-89abcdef0123",
              "name": "yolo_train_epochs",
              "value": "10",
              "type": "string"
            },
            {
              "id": "e7f8a9b0-c1d2-4345-e678-9abcdef01234",
              "name": "yolo_train_imgsz",
              "value": "1024",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5600,
        512
      ],
      "id": "ef6aa273-9e7f-41ca-b178-917b4f851215",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/split-yolo-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}/{{ $('base_config').first().json.detector_name  +'_'+new Date().toISOString().slice(0,19).replace(/[-T:]/g, '').replace(/^(\\d{4})(\\d{2})(\\d{2})(\\d{2})(\\d{2})(\\d{2})$/, '$1$2$3_$4$5$6') + \"_\" }}"
            },
            {
              "name": "mode",
              "value": "train_val"
            },
            {
              "name": "train_ratio",
              "value": "0.7"
            },
            {
              "name": "val_ratio",
              "value": "0.3"
            },
            {
              "name": "shuffle",
              "value": "true"
            },
            {
              "name": "seed",
              "value": "42"
            },
            {
              "name": "copy_files",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4928,
        512
      ],
      "id": "ae507e80-c6d4-456f-9610-52e9d64fa59f",
      "name": "split-yolo-dataset"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir + '/' }}{{ $('split-yolo-dataset').item.json.output_dir.split(\"/\").last()+\".yaml\"}}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir.split('/').slice(0, -1).join('/') }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir }}{{ $('base_config').first().json.project_root_dir.endsWith('/') ? '' : '/' }}{{ $('base_config').first().json.detector_name }}/dataset"
            },
            {
              "name": "classes_file",
              "value": "={{ $('base_config').first().json.original_dataset+'/'+'classes.txt' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4256,
        512
      ],
      "id": "f7d775b0-9d75-4d75-b633-27771ec1b5c5",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.dataset_root }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $json.dataset_root + \".zip\"}}"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4032,
        512
      ],
      "id": "61173eb1-5f40-4462-b46e-7298955f2d04",
      "name": "zip-folder",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-transfer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.output_zip_path }}"
            },
            {
              "name": "target",
              "value": "={{ 'sftp://' + $('base_config').item.json.sever + $('base_config').item.json.project_root_dir+'/' +$('base_config').first().json.detector_name + '/dataset' }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3808,
        512
      ],
      "id": "23d6ed65-b912-4170-aa12-fe008385efb7",
      "name": "move-path"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e6f2a54-f860-4a66-86d8-179a68f15431",
              "name": "remote_archive_path",
              "value": "={{ $json.target_path }}",
              "type": "string"
            },
            {
              "id": "3f2bb01f-9b59-4308-93ad-3fd43a8f6835",
              "name": "remote_archive_sftp_full_path",
              "value": "={{ 'sftp://' + $json.target_host + $json.target_path }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3584,
        512
      ],
      "id": "e77a8bb9-f90a-4c41-b4a4-ff728d411225",
      "name": "组装远端压缩包路径"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-unzip/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $json.remote_archive_sftp_full_path }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "=true"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.remote_archive_sftp_full_path.split('/').slice(0,-1).join('/')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3360,
        512
      ],
      "id": "fd4fd800-e0e3-4f13-ba4b-173ce5ec5011",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.26:8666/api/v1/preprocess/remote-slurm-yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $json.result.output_dir }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().split('.')[0]}}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop() }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('base_config').first().json.project_root_dir }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').first().json.sftp_username }}"
            },
            {
              "name": "model",
              "value": "={{ $('base_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('base_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('base_config').first().json.yolo_train_imgsz }}"
            },
            {
              "name": "batch",
              "value": "=20"
            },
            {
              "name": "workers",
              "value": "=4"
            },
            {
              "name": "cache",
              "value": "True"
            },
            {
              "name": "project",
              "value": "={{ $('base_config').first().json.project_root_dir + '/' + $('base_config').first().json.detector_name+'/'+ 'runs/detect'}}"
            },
            {
              "name": "name",
              "value": "={{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().replace('.yaml','')}}"
            },
            {
              "name": "partition",
              "value": "gpu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2688,
        384
      ],
      "id": "7f70e680-61ac-4480-b472-afd92fbbd704",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.26:8666/api/v1/preprocess/yolo-txt-augment",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}/train"
            },
            {
              "name": "horizontal_flip",
              "value": "true"
            },
            {
              "name": "vertical_flip",
              "value": "true"
            },
            {
              "name": "brightness_up",
              "value": "true"
            },
            {
              "name": "brightness_down",
              "value": "true"
            },
            {
              "name": "contrast_up",
              "value": "true"
            },
            {
              "name": "contrast_down",
              "value": "true"
            },
            {
              "name": "gaussian_blur",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4704,
        416
      ],
      "id": "c321d19f-a797-478f-97cd-f9f98359253f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.26:8666/api/v1/preprocess/yolo-txt-augment",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}/val"
            },
            {
              "name": "horizontal_flip",
              "value": "true"
            },
            {
              "name": "vertical_flip",
              "value": "true"
            },
            {
              "name": "brightness_up",
              "value": "true"
            },
            {
              "name": "brightness_down",
              "value": "true"
            },
            {
              "name": "contrast_up",
              "value": "true"
            },
            {
              "name": "contrast_down",
              "value": "true"
            },
            {
              "name": "gaussian_blur",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4704,
        608
      ],
      "id": "79b25079-3404-4259-a39c-c3083b71e32f",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4480,
        512
      ],
      "id": "a0919070-c46f-49f3-95ab-2e7268018e7a",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2688,
        608
      ],
      "id": "ba40e89e-f35f-43d2-8dd9-14cd5f04cc4f",
      "name": "Wait",
      "webhookId": "7838da9c-f79a-4ae7-8910-2250a871db40"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').first().json.self_api+'/api/v1/preprocess/tasks/' + $('unzip-archive').last().json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3136,
        512
      ],
      "id": "c480925a-fc27-4c2b-a975-468ec28d3996",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "succeeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9a5294b-3e64-40d0-a855-ba6be39cca44"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e0ab66ae-f2ae-42c8-8dff-05b2cf27c348",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b2d641a4-aaeb-4caa-990c-1dd235a51db2",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2912,
        416
      ],
      "id": "cef3c349-22ad-449e-ad2b-051d76e3e618",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-yolo-dataset": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装远端压缩包路径": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "组装远端压缩包路径",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "c9a98dbc-aac8-4620-861d-72aefff7c4d9",
  "meta": {
    "instanceId": "1b3e6ee362a456055e06758c3fd4e960c3621b1a8e2c51a10220c369f5f16c17"
  },
  "id": "ukHA0LbI2JZlC1te",
  "tags": []
}