docs/n8n/self_api_小图本地训练.json
{
  "name": "self_api_小图本地训练",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2192,
        1936
      ],
      "id": "69e39326-6fb3-40a9-90e1-d3574c4b1e81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $json.self_api }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1744,
        1936
      ],
      "id": "0c0040ae-aa3c-43ef-a7f8-3dc91be63f74",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/xml-to-yolo/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xmls"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "write_classes_file",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1520,
        1936
      ],
      "id": "68195f66-22ac-4cf5-a51f-fa63edf812ef",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54590ca-7856-4eaf-85ec-58236b4abe3e",
              "name": "self_api",
              "value": "=http://192.168.2.26:8666",
              "type": "string"
            },
            {
              "id": "ab2f8629-80d2-4888-a430-5746f0f23496",
              "name": "original_dataset",
              "value": "/media/qzq/16T/TEDS/广州局__转向架__正线漏油/20260312/1/正线故障第二批-划痕漏油破损异物/漏油/zxj/牵引电机/dibu",
              "type": "string"
            },
            {
              "id": "f5d76981-1d2b-4cfa-80bf-6aa5573f1cca",
              "name": "temp_dataset",
              "value": "/media/qzq/16T/TEDS/广州局__转向架__正线漏油/20260312/1/正线故障第二批-划痕漏油破损异物/漏油/zxj/牵引电机/dibu/dataset",
              "type": "string"
            },
            {
              "id": "3145aa9b-ac14-4328-8e57-924b85b46aba",
              "name": "project_root_dir",
              "value": "/media/qzq/16T/n8n_workspace/",
              "type": "string"
            },
            {
              "id": "a386ad76-63b9-411e-83db-7ca1c952bc16",
              "name": "detector_name",
              "value": "qianyindianji_louyou",
              "type": "string"
            },
            {
              "id": "b4c5d6e7-f8a9-4012-b345-6789abcdef01",
              "name": "yolo_train_env",
              "value": "v11_sk",
              "type": "string"
            },
            {
              "id": "c5d6e7f8-a9b0-4123-c456-789abcdef012",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "d6e7f8a9-b0c1-4234-d567-89abcdef0123",
              "name": "yolo_train_epochs",
              "value": "10",
              "type": "string"
            },
            {
              "id": "e7f8a9b0-c1d2-4345-e678-9abcdef01234",
              "name": "yolo_train_imgsz",
              "value": "640",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        1936
      ],
      "id": "a2cbb431-306f-41c7-a372-d1831d1593b9",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/split-yolo-dataset/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}/{{ $('base_config').first().json.detector_name  +'_'+new Date().toISOString().slice(0,19).replace(/[-T:]/g, '').replace(/^(\\d{4})(\\d{2})(\\d{2})(\\d{2})(\\d{2})(\\d{2})$/, '$1$2$3_$4$5$6') }}"
            },
            {
              "name": "mode",
              "value": "train_val"
            },
            {
              "name": "train_ratio",
              "value": "0.85"
            },
            {
              "name": "val_ratio",
              "value": "0.15"
            },
            {
              "name": "shuffle",
              "value": "true"
            },
            {
              "name": "seed",
              "value": "42"
            },
            {
              "name": "copy_files",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        1824
      ],
      "id": "9bee6b78-0a91-44f4-8367-e93bc8d73439",
      "name": "split-yolo-dataset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_xml-to-yolo').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -848,
        1872
      ],
      "id": "978635ad-be33-4f08-b276-07b484897a15",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -624,
        2032
      ],
      "id": "2566a819-c286-4839-b24f-3010077828bf",
      "name": "Wait",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1296,
        1936
      ],
      "id": "891fc71a-8697-4593-941d-4fdf36b05412",
      "name": "Wait1",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_split-yolo-dataset').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        1744
      ],
      "id": "d519f847-8e4d-4b99-8356-e5ebca5375e0",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        1920
      ],
      "id": "b6769f1f-2455-485b-ac64-a2def7613be9",
      "name": "Wait2",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        1824
      ],
      "id": "a45b2881-a7ac-4ea2-99b0-afa3f9b116c3",
      "name": "Wait3",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('xml-to-yolo').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1072,
        1936
      ],
      "id": "9fd3b2a2-e0d5-46ff-8bdd-3bde9f7f293a",
      "name": "状态判断_xml-to-yolo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('状态判断_split-yolo-dataset').item.json.result.output_dir }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('状态判断_split-yolo-dataset').item.json.result.output_dir + '/' }}{{ $('状态判断_split-yolo-dataset').item.json.result.output_dir.split(\"/\").last()+\".yaml\"}}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('状态判断_split-yolo-dataset').item.json.result.output_dir.split('/').slice(0, -1).join('/') }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir }}{{ $('base_config').first().json.project_root_dir.endsWith('/') ? '' : '/' }}{{ $('base_config').first().json.detector_name }}/dataset"
            },
            {
              "name": "classes_file",
              "value": "={{ $('base_config').first().json.original_dataset+'/'+'classes.txt' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        1696
      ],
      "id": "7998c9a1-54d1-4066-96e3-d1387bf6380f",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $json.result.output_dir }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().split('.')[0]}}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop() }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('base_config').first().json.project_root_dir }}"
            },
            {
              "name": "yolo_train_env",
              "value": "={{ $('base_config').first().json.yolo_train_env }}"
            },
            {
              "name": "model",
              "value": "={{ $('base_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('base_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('base_config').first().json.yolo_train_imgsz }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3184,
        1888
      ],
      "id": "b5fc1bd4-5336-476c-b5df-f227a72671b2",
      "name": "yolo-train"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('split-yolo-dataset').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        1824
      ],
      "id": "92668073-c1c2-4c57-b781-ca70f1688c08",
      "name": "状态判断_split-yolo-dataset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_zip-folder').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        1632
      ],
      "id": "9e904984-42b7-4b83-ab1a-044a34cb0ac8",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        1792
      ],
      "id": "91cc81ac-d68d-4a36-9966-b6ba35986427",
      "name": "Wait10",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        1696
      ],
      "id": "6caa9e6a-91ad-402f-aac5-cd0d0ed54504",
      "name": "Wait11",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('zip-folder').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        1696
      ],
      "id": "76d33f83-44dc-4ce5-964e-350a545d2657",
      "name": "状态判断_zip-folder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.dataset_root }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $json.dataset_root + \".zip\"}}"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        1696
      ],
      "id": "ddc0eb8b-83a9-42f2-b810-1ac2854cc64a",
      "name": "zip-folder",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_move-path').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2064,
        1504
      ],
      "id": "61ded930-3c5e-46a0-b78d-129f97996d78",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2288,
        1584
      ],
      "id": "7d7068a0-57db-40f2-bf08-4c67d2248a17",
      "name": "Wait12",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1616,
        1584
      ],
      "id": "b84c1a10-9237-4829-8677-b3eeb1a43f48",
      "name": "Wait13",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/move-path/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.result.output_zip_path }}"
            },
            {
              "name": "target_dir",
              "value": "={{ $('base_config').item.json.project_root_dir}}{{ $('base_config').item.json.detector_name}}/dataset"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        1584
      ],
      "id": "c4edc3e3-4f71-482c-a8ac-baba3ebf72bd",
      "name": "move-path"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('move-path').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        1584
      ],
      "id": "27302a4c-9464-4ff8-a156-59ed3e8d20b4",
      "name": "状态判断_move-path"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_unzip-archive').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2960,
        1888
      ],
      "id": "7daec715-b7ae-4940-aa7f-39b99e7dfc91",
      "name": "If7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3184,
        2080
      ],
      "id": "7c90dfba-a60b-4eca-a9da-85ff12b4f16a",
      "name": "Wait14",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2512,
        1888
      ],
      "id": "29587585-86f9-4d61-ab3f-6bec91dd5b15",
      "name": "Wait15",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/unzip-archive/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $json.result.target_path }}"
            },
            {
              "name": "overwrite",
              "value": "=true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.result.target_path.split('/').slice(0,-1).join('/')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2288,
        1888
      ],
      "id": "22b39fea-dc63-4c38-be6d-22040d781019",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('unzip-archive').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2736,
        1888
      ],
      "id": "aeca19e2-bc33-40ff-ae00-e940669adb25",
      "name": "状态判断_unzip-archive"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-yolo-dataset": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_xml-to-yolo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_split-yolo-dataset": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_zip-folder": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_move-path": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "yolo-train",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_unzip-archive": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "241889ab-5344-4236-a187-4421a195f1f6",
  "meta": {
    "instanceId": "1b3e6ee362a456055e06758c3fd4e960c3621b1a8e2c51a10220c369f5f16c17"
  },
  "id": "uhi57GyfzUp6BFn5",
  "tags": []
}
