docs/n8n/self_api_大图(images_xmls)_常发模型迭代.json
{
  "name": "self_api_大图(images/xmls)_常发模型迭代",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3696,
        112
      ],
      "id": "668311b1-0a08-4b65-90dc-74275cc81050",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/xml-to-yolo",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $json.output_dir }}"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xml"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "write_classes_file",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2800,
        112
      ],
      "id": "2fc698c9-12b2-40e3-b839-d9ffb39b4b93",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54590ca-7856-4eaf-85ec-58236b4abe3e",
              "name": "self_api",
              "value": "=http://192.168.2.26:8666",
              "type": "string"
            },
            {
              "id": "ab2f8629-80d2-4888-a430-5746f0f23496",
              "name": "original_dataset",
              "value": "/media/qzq/16T/n8n_workspace/nzxj_diaban_louyou/20260413_非转数据拟合/",
              "type": "string"
            },
            {
              "id": "f5d76981-1d2b-4cfa-80bf-6aa5573f1cca",
              "name": "temp_dataset",
              "value": "/media/qzq/16T/n8n_workspace/nzxj_diaban_louyou/20260413_非转数据拟合/dataset",
              "type": "string"
            },
            {
              "id": "3145aa9b-ac14-4328-8e57-924b85b46aba",
              "name": "project_root_dir",
              "value": "/mnt/usrhome/sk/ndata/TEDS_n8n",
              "type": "string"
            },
            {
              "id": "f7ac4c53-2a1b-4c6a-9a5b-1f2e3d4c5b6a",
              "name": "sever",
              "value": "172.31.1.9",
              "type": "string"
            },
            {
              "id": "90e7b625-d57e-4aa5-97ac-82f5c2ffce11",
              "name": "sftp_username",
              "value": "sk",
              "type": "string"
            },
            {
              "id": "5d12f4b3-a84f-47ad-b653-3ca5c9d5e4f7",
              "name": "sftp_private_key_path",
              "value": "~/.ssh/id_ed25519",
              "type": "string"
            },
            {
              "id": "a386ad76-63b9-411e-83db-7ca1c952bc16",
              "name": "detector_name",
              "value": "nzxj_louyou",
              "type": "string"
            },
            {
              "id": "b4c5d6e7-f8a9-4012-b345-6789abcdef01",
              "name": "yolo_train_env",
              "value": "v11_sk",
              "type": "string"
            },
            {
              "id": "c5d6e7f8-a9b0-4123-c456-789abcdef012",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "d6e7f8a9-b0c1-4234-d567-89abcdef0123",
              "name": "yolo_train_epochs",
              "value": "200",
              "type": "string"
            },
            {
              "id": "e7f8a9b0-c1d2-4345-e678-9abcdef01234",
              "name": "yolo_train_imgsz",
              "value": "800",
              "type": "string"
            },
            {
              "id": "3712bfec-a90e-4185-8a78-1f093e1dbbdc",
              "name": "batch",
              "value": "24",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3472,
        112
      ],
      "id": "cc52f6b4-c81e-496a-b7c0-29e072ee7a03",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/split-yolo-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $json.output_dir }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}/{{ $('base_config').first().json.detector_name  +'_'+new Date().toISOString().slice(0,19).replace(/[-T:]/g, '').replace(/^(\\d{4})(\\d{2})(\\d{2})(\\d{2})(\\d{2})(\\d{2})$/, '$1$2$3_$4$5$6') + \"_\" }}"
            },
            {
              "name": "mode",
              "value": "train_only"
            },
            {
              "name": "copy_files",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2128,
        112
      ],
      "id": "04e3c462-88fc-4dc5-a14d-bd5b8fc79d44",
      "name": "split-yolo-dataset"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir + '/' }}{{ $('split-yolo-dataset').item.json.output_dir.split(\"/\").last()+\".yaml\"}}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('split-yolo-dataset').item.json.output_dir.split('/').slice(0, -1).join('/') }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir }}{{ $('base_config').first().json.project_root_dir.endsWith('/') ? '' : '/' }}{{ $('base_config').first().json.detector_name }}/dataset"
            },
            {
              "name": "last_yaml",
              "value": "=sftp://{{ $('base_config').item.json.sever }}/mnt/usrhome/sk/ndata/datasets/louyou/20260407_非转数据拟合/20260407_非转数据拟合.yaml "
            },
            {
              "name": "sftp_username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "sftp_private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1904,
        112
      ],
      "id": "530c9d9f-9f71-473d-b1e8-bf69f77de0a6",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.dataset_root }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $json.dataset_root + \".zip\"}}"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1680,
        112
      ],
      "id": "f41fef14-b62e-4c3b-9773-4e677059c264",
      "name": "zip-folder",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-transfer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.output_zip_path }}"
            },
            {
              "name": "target",
              "value": "={{ 'sftp://' + $('base_config').item.json.sever + $('base_config').item.json.project_root_dir+'/' +$('base_config').first().json.detector_name + '/dataset' }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1456,
        112
      ],
      "id": "52c97fd0-23d2-41d9-bf28-1faace814e8f",
      "name": "move-path"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e6f2a54-f860-4a66-86d8-179a68f15431",
              "name": "remote_archive_path",
              "value": "={{ $json.target_path }}",
              "type": "string"
            },
            {
              "id": "3f2bb01f-9b59-4308-93ad-3fd43a8f6835",
              "name": "remote_archive_sftp_full_path",
              "value": "={{ 'sftp://' + $json.target_host + $json.target_path }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        112
      ],
      "id": "405f2d74-40c4-4a5b-b0a9-69c53a76d9ec",
      "name": "组装远端压缩包路径"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/remote-unzip/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $json.remote_archive_sftp_full_path }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').item.json.sftp_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('base_config').item.json.sftp_private_key_path }}"
            },
            {
              "name": "overwrite",
              "value": "=true"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.remote_archive_sftp_full_path.split('/').slice(0,-1).join('/')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1008,
        112
      ],
      "id": "23f77aae-026b-4d0f-a75f-078453d96ef7",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        208
      ],
      "id": "962fc56e-9330-4e0e-8217-831fd6be90de",
      "name": "Wait",
      "webhookId": "7838da9c-f79a-4ae7-8910-2250a871db40"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "succeeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9a5294b-3e64-40d0-a855-ba6be39cca44"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e0ab66ae-f2ae-42c8-8dff-05b2cf27c348",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b2d641a4-aaeb-4caa-990c-1dd235a51db2",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -560,
        16
      ],
      "id": "7705c9ba-973e-49c4-a07d-6125070bfc9e",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.self_api }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3248,
        112
      ],
      "id": "d23b8aaa-3267-4cd7-b43b-2cc2c6fe404d",
      "name": "客户端是否开启"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/clean-nested-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').first().json.original_dataset }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').first().json.original_dataset }}/cleaned_flat"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "pairing_mode",
              "value": "images_xmls_subfolders"
            },
            {
              "name": "flatten",
              "value": "true"
            },
            {
              "name": "include_backgrounds",
              "value": "false"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xml"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "copy_files",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3024,
        112
      ],
      "id": "769ae05f-b1b6-4438-b598-c9f7ee30ba1f",
      "name": "数据扁平化整理"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/reset-yolo-label-index",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.dataset_dir }}"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2576,
        112
      ],
      "id": "7b33c810-209c-440b-bd97-47098365384d",
      "name": "所有yolo标签转为0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/yolo-sliding-window-crop",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $json.input_dir }}/images"
            },
            {
              "name": "labels_dir",
              "value": "={{ $json.labels_dir }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.input_dir }}/data_crops"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2352,
        112
      ],
      "id": "ef159d66-e7f2-4b9d-937a-f3f5618a04ac",
      "name": "yolo-sliding-window-crop"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').first().json.self_api+'/api/v1/preprocess/tasks/' + $('unzip-archive').last().json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        112
      ],
      "id": "3e2d4f87-2281-4b14-9448-aef3ea5e080b",
      "name": "解压缩状态获取"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.2.26:8666/api/v1/preprocess/remote-slurm-yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $json.result.output_dir }}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().split('.')[0]}}/{{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop() }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('base_config').first().json.project_root_dir }}"
            },
            {
              "name": "username",
              "value": "={{ $('base_config').first().json.sftp_username }}"
            },
            {
              "name": "model",
              "value": "={{ $('base_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('base_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('base_config').first().json.yolo_train_imgsz }}"
            },
            {
              "name": "batch",
              "value": "={{ $('base_config').first().json.batch }}"
            },
            {
              "name": "workers",
              "value": "=4"
            },
            {
              "name": "cache",
              "value": "True"
            },
            {
              "name": "project",
              "value": "={{ $('base_config').first().json.project_root_dir + '/' + $('base_config').first().json.detector_name+'/'+ 'runs/detect'}}"
            },
            {
              "name": "name",
              "value": "={{ $('build-yolo-yaml').item.json.output_yaml_path.split('/').pop().replace('.yaml','')}}"
            },
            {
              "name": "partition",
              "value": "gpu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -80
      ],
      "id": "7966c6d6-fb13-4d22-b0b1-ae7d1572a346",
      "name": "提交slurm任务"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "所有yolo标签转为0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "客户端是否开启",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-yolo-dataset": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "组装远端压缩包路径": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "组装远端压缩包路径",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "解压缩状态获取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "解压缩状态获取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "提交slurm任务",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "客户端是否开启": {
      "main": [
        [
          {
            "node": "数据扁平化整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据扁平化整理": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "所有yolo标签转为0": {
      "main": [
        [
          {
            "node": "yolo-sliding-window-crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yolo-sliding-window-crop": {
      "main": [
        [
          {
            "node": "split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解压缩状态获取": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c875528-4dcb-43a5-b2f8-6feada38f2df",
  "meta": {
    "instanceId": "1b3e6ee362a456055e06758c3fd4e960c3621b1a8e2c51a10220c369f5f16c17"
  },
  "id": "tTziLtgnIfLUgeLX",
  "tags": []
}