docs/n8n/self_api — dataset1（拖拉拽·无 Code）.json
{
  "name": "self_api — dataset1（拖拉拽·无 Code）",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2864,
        6064
      ],
      "id": "6ce9f8be-0179-4b9a-b34f-1d79370dc212",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "={{ $json.self_api }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3312,
        6064
      ],
      "id": "82995f51-a0bc-4711-86af-d12e28b89497",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/xml-to-yolo/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "images_dir_name",
              "value": "images"
            },
            {
              "name": "xmls_dir_name",
              "value": "xmls"
            },
            {
              "name": "labels_dir_name",
              "value": "labels"
            },
            {
              "name": "recursive",
              "value": "true"
            },
            {
              "name": "include_difficult",
              "value": "false"
            },
            {
              "name": "write_classes_file",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3536,
        6064
      ],
      "id": "7708c79f-8c4b-4aba-9144-dfcba023312f",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54590ca-7856-4eaf-85ec-58236b4abe3e",
              "name": "self_api",
              "value": "=http://192.168.71.73:8666",
              "type": "string"
            },
            {
              "id": "ab2f8629-80d2-4888-a430-5746f0f23496",
              "name": "original_dataset",
              "value": "/Users/songkui/mycode/self_api/tmp_datasets/dataset1",
              "type": "string"
            },
            {
              "id": "f5d76981-1d2b-4cfa-80bf-6aa5573f1cca",
              "name": "temp_dataset",
              "value": "/Users/songkui/mycode/self_api/tmp_datasets/dataset1/dataset",
              "type": "string"
            },
            {
              "id": "3145aa9b-ac14-4328-8e57-924b85b46aba",
              "name": "project_root_dir",
              "value": "/Users/songkui/mycode/self_api/TVDS",
              "type": "string"
            },
            {
              "id": "a386ad76-63b9-411e-83db-7ca1c952bc16",
              "name": "detector_name",
              "value": "dog_cat_pig",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3088,
        6064
      ],
      "id": "130dcaa4-38f5-41e4-8386-93541f664409",
      "name": "base_config"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/split-yolo-dataset/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dataset_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.original_dataset }}/yolo_split"
            },
            {
              "name": "mode",
              "value": "train_val_test"
            },
            {
              "name": "train_ratio",
              "value": "0.8"
            },
            {
              "name": "val_ratio",
              "value": "0.1"
            },
            {
              "name": "test_ratio",
              "value": "0.1"
            },
            {
              "name": "shuffle",
              "value": "true"
            },
            {
              "name": "seed",
              "value": "42"
            },
            {
              "name": "copy_files",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4432,
        5952
      ],
      "id": "fc1dea41-dd2f-4f28-8cfb-bbb152944fe8",
      "name": "split-yolo-dataset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_xml-to-yolo').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4208,
        6000
      ],
      "id": "fff6f409-ca49-4465-9f84-0c07d9609e0a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4432,
        6160
      ],
      "id": "c6cac312-82e6-4e46-b9b2-966ecac1df54",
      "name": "Wait",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3760,
        6064
      ],
      "id": "c4a8b1b7-d939-4bf8-8395-79187db80e63",
      "name": "Wait1",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_split-yolo-dataset').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5104,
        5856
      ],
      "id": "0a0bf1a2-eb2d-4a1e-9019-929810472958",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5328,
        6208
      ],
      "id": "2824aae4-c3a6-462c-959b-e2f1a0ae9c89",
      "name": "Wait2",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4656,
        5952
      ],
      "id": "e1c35c6a-153a-4a8b-9b49-ed21db3ca09c",
      "name": "Wait3",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/yolo-sliding-window-crop/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $json.result.output_dir + '/images/train' }}"
            },
            {
              "name": "labels_dir",
              "value": "={{ $json.result.output_dir + '/labels/train' }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}/train"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5328,
        5216
      ],
      "id": "82c53aa0-3780-4d8e-bfe5-bbced8567ce3",
      "name": "train_crop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/yolo-sliding-window-crop/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $json.result.output_dir + '/images/val' }}"
            },
            {
              "name": "labels_dir",
              "value": "={{ $json.result.output_dir + '/labels/val' }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}/val"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5328,
        5600
      ],
      "id": "9ad37bd8-061a-4d22-8176-99f0c89ad99b",
      "name": "val_crop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/yolo-sliding-window-crop/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "images_dir",
              "value": "={{ $json.result.output_dir + '/images/test' }}"
            },
            {
              "name": "labels_dir",
              "value": "={{ $json.result.output_dir + '/labels/test' }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}/test"
            },
            {
              "name": "min_vis_ratio",
              "value": "0.5"
            },
            {
              "name": "stride_ratio",
              "value": "0.2"
            },
            {
              "name": "ignore_vis_ratio",
              "value": "0.05"
            },
            {
              "name": "only_wide",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5328,
        6016
      ],
      "id": "2d3e65e5-9ff3-420b-94f7-60bcad251b9c",
      "name": "test_crop"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('xml-to-yolo').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3984,
        6064
      ],
      "id": "d106c0e7-5a9a-4d10-a634-be947324d6cf",
      "name": "状态判断_xml-to-yolo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_test_crop').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6000,
        5920
      ],
      "id": "c34f830e-778b-4aed-9859-878f4d205e12",
      "name": "If2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6224,
        6064
      ],
      "id": "d11a3cde-73b7-431f-bd05-4d75e690d61b",
      "name": "Wait4",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5552,
        6016
      ],
      "id": "2e19c148-12d9-4279-a38b-f6644ece80e1",
      "name": "Wait5",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_val_crop').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6000,
        5536
      ],
      "id": "7a9b25ea-dcba-4c4c-863c-2136384bf704",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6224,
        5808
      ],
      "id": "5ebcdc91-5222-40c4-85d8-20a81aae5a41",
      "name": "Wait6",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5552,
        5600
      ],
      "id": "4906ca6f-1eb0-4fbf-9edf-b863182a6190",
      "name": "Wait7",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_train_crop').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6000,
        5136
      ],
      "id": "c6785477-9f77-431e-ac33-f322560e091a",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6224,
        5216
      ],
      "id": "cf7fb5da-ab11-40af-8ac4-d68514e3b1d2",
      "name": "Wait8",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5552,
        5216
      ],
      "id": "2b14fbbb-0707-4a70-96b3-961c3767f8ca",
      "name": "Wait9",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6224,
        5520
      ],
      "id": "b5f4f662-10f5-4983-99b4-b2272ab94d6e",
      "name": "Merge",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api }}/api/v1/preprocess/build-yolo-yaml",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').first().json.temp_dataset }}"
            },
            {
              "name": "output_yaml_path",
              "value": "={{ $('base_config').first().json.temp_dataset + '/' + $('base_config').first().json.temp_dataset.split('/').pop() + '.yaml' }}"
            },
            {
              "name": "path_prefix_replace_from",
              "value": "={{ $('base_config').first().json.original_dataset }}"
            },
            {
              "name": "path_prefix_replace_to",
              "value": "={{ $('base_config').first().json.project_root_dir + '/' + $('base_config').first().json.detector_name }}"
            },
            {
              "name": "classes_file",
              "value": "={{ $('base_config').first().json.original_dataset+'/'+'classes.txt' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6448,
        5536
      ],
      "id": "67252135-21aa-49f4-ac92-9ce055937b33",
      "name": "build-yolo-yaml"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('split-yolo-dataset').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4880,
        5952
      ],
      "id": "3eab3e85-60b5-4d07-8cd8-c120987dd974",
      "name": "状态判断_split-yolo-dataset"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('train_crop').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5776,
        5216
      ],
      "id": "6ee33eaf-ffda-47d0-84ae-38dda524733f",
      "name": "状态判断_train_crop",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('val_crop').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5776,
        5600
      ],
      "id": "7f982fef-212b-4bc7-9d43-744d63a05654",
      "name": "状态判断_val_crop"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('test_crop').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5776,
        6016
      ],
      "id": "fb5f1c38-52bc-450d-bfbe-23b5265e29ad",
      "name": "状态判断_test_crop"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_zip-folder').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7344,
        5456
      ],
      "id": "cfc998e4-1b12-42ed-9071-f787f0b8ab77",
      "name": "If5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7568,
        5632
      ],
      "id": "26210e33-e8f3-41bb-b0e5-06355cca8cfd",
      "name": "Wait10",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6896,
        5536
      ],
      "id": "5bb73621-ac4b-4362-8117-7f0fbd5a3fe3",
      "name": "Wait11",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('zip-folder').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7120,
        5536
      ],
      "id": "e2bbf0d9-bb08-46c5-a9fa-4c3924d355a7",
      "name": "状态判断_zip-folder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/zip-folder/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('base_config').item.json.temp_dataset }}"
            },
            {
              "name": "output_zip_path",
              "value": "={{ $('base_config').item.json.original_dataset }}/dataset.zip"
            },
            {
              "name": "include_root_dir",
              "value": "true"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6672,
        5536
      ],
      "id": "d42ee405-69c8-4ab6-a094-4ad876fb5955",
      "name": "zip-folder",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_move-path').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8240,
        5344
      ],
      "id": "ac6451ef-ae53-480a-a4a1-7940191b5997",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8464,
        5408
      ],
      "id": "bde438cf-351e-4aae-906d-9a10581c3dc1",
      "name": "Wait12",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7792,
        5408
      ],
      "id": "f7ef9873-8c3c-4e1f-be2e-df2c671b092d",
      "name": "Wait13",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/move-path/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_path",
              "value": "={{ $json.result.input_dir }}"
            },
            {
              "name": "target_dir",
              "value": "={{ $('base_config').item.json.project_root_dir}}/{{ $('base_config').item.json.detector_name}}"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7568,
        5408
      ],
      "id": "a4aacf66-54af-4ca1-9c24-5c6d99fcaf14",
      "name": "move-path"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('move-path').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8016,
        5408
      ],
      "id": "ca7a458d-2783-4450-a681-c7df3939ddca",
      "name": "状态判断_move-path"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c44075fd-40b5-47d0-b60b-af42fbc4bfef",
              "leftValue": "={{ $('状态判断_unzip-archive').item.json.state }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9136,
        5776
      ],
      "id": "90c6470f-3c67-475a-8869-27127736d03f",
      "name": "If7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9360,
        5776
      ],
      "id": "0424d271-0159-4631-866d-47d2876c3aeb",
      "name": "Wait14",
      "webhookId": "5828b4d1-9a80-46ed-94ac-a17bbefd38c3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8688,
        5776
      ],
      "id": "25656b28-9ff3-4e57-881d-45f8686d9624",
      "name": "Wait15",
      "webhookId": "076227e9-5a3f-4056-980e-db8a67d846cd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/unzip-archive/async",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "archive_path",
              "value": "={{ $('base_config').item.json.original_dataset }}/dataset.zip"
            },
            {
              "name": "output_dir",
              "value": "={{ $('base_config').item.json.project_root_dir }}/{{ $('base_config').item.json.detector_name }}"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "callback_url",
              "value": "http://127.0.0.1:9000/webhooks/preprocess-finished"
            },
            {
              "name": "callback_timeout_seconds",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8464,
        5776
      ],
      "id": "f5041af5-4427-422d-806a-d5dcff30628a",
      "name": "unzip-archive"
    },
    {
      "parameters": {
        "url": "={{ $('base_config').item.json.self_api }}/api/v1/preprocess/tasks/{{ $('unzip-archive').item.json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8912,
        5776
      ],
      "id": "079637ca-bddd-40cc-813c-7cd4cded9bac",
      "name": "状态判断_unzip-archive"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-yolo-dataset": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "状态判断_xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "test_crop",
            "type": "main",
            "index": 0
          },
          {
            "node": "val_crop",
            "type": "main",
            "index": 0
          },
          {
            "node": "train_crop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "状态判断_split-yolo-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "val_crop": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_xml-to-yolo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "状态判断_test_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "状态判断_test_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test_crop": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "状态判断_val_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "状态判断_val_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "状态判断_train_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "状态判断_train_crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "train_crop": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_split-yolo-dataset": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_train_crop": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_val_crop": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_test_crop": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "build-yolo-yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build-yolo-yaml": {
      "main": [
        [
          {
            "node": "zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "move-path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "状态判断_zip-folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_zip-folder": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zip-folder": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "unzip-archive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "状态判断_move-path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move-path": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_move-path": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [],
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "状态判断_unzip-archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip-archive": {
      "main": [
        [
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "状态判断_unzip-archive": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5df5a4d1-68b0-4e2a-8f14-39c9b0ee2e0e",
  "meta": {
    "instanceId": "c4b7aa9096bc87944216bba48ef2687b8e22851666781e0193f26f348f4651ec"
  },
  "id": "nBBOStM7x4zX2wZi",
  "tags": []
}