docs/n8n/模型训练工作流（Webhook）.json
{
  "name": "模型训练工作流（Webhook）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "self-api-train",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1360,
        352
      ],
      "id": "7252d6d7-a27c-4fb2-97bb-aef492a87344",
      "name": "Webhook",
      "webhookId": "7f2f9ce7-c1c3-4574-af6c-fcb02ba2c4c1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd0c817f-3830-4af3-a0cc-35e0ad1adbbe",
              "name": "self_api_url",
              "value": "={{ $json.body.self_api_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -64
      ],
      "id": "a2eb1c77-c8c1-42ea-8f04-6706e10f8280",
      "name": "API配置"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95be8997-9ed0-4861-b497-6105315cae25",
              "name": "username",
              "value": "={{ $json.body.remote_username || '' }}",
              "type": "string"
            },
            {
              "id": "b2b75ffa-d54e-4d24-b5e7-9e53dfa4a740",
              "name": "key",
              "value": "={{ $json.body.remote_private_key_path || '' }}",
              "type": "string"
            },
            {
              "id": "cd7096cd-783d-4490-ac9e-06537d3cd1d9",
              "name": "workspace_root_dir",
              "value": "={{ $json.body.workspace_root_dir }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        160
      ],
      "id": "a73ab821-22a7-4b1d-be96-f7ae311abfc8",
      "name": "用户变量"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.execution_mode }}",
                    "rightValue": "local",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6b7cf6d2-b6eb-4e0c-83bd-df8d88cb95c1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a6f88ac1-a287-4bc0-bc87-f57ec6fe3979",
                    "leftValue": "={{ $json.execution_mode }}",
                    "rightValue": "remote_sftp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2000,
        416
      ],
      "id": "602299e1-c1e2-425c-9726-23ea8828e93c",
      "name": "训练模式路由"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0d3953-82dd-4c46-92c4-c9682f778f0c",
              "name": "project_name",
              "value": "={{ $json.body.project_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        352
      ],
      "id": "2cefd336-16ab-4ce9-8d5e-cc96e8797e40",
      "name": "项目选择"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        256
      ],
      "id": "c3a5e944-0acd-4a09-a078-e4615a7ca611",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70a2826e-5fe4-4bb5-b580-a50a40b46c18",
              "name": "project_name",
              "value": "={{ $json.project_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        352
      ],
      "id": "7371bfe1-e258-41e6-a770-52ee44116964",
      "name": "项目名称确定"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7bf64ad-b992-472b-adac-10d24f99dde8",
              "name": "project_workspace",
              "value": "={{ $json.workspace_root_dir }}/{{ $json.project_name }}",
              "type": "string"
            },
            {
              "id": "81240e49-d422-407a-a588-c873076f86ed",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "143fc113-a337-4be7-88a9-5c0053caa836",
              "name": "key",
              "value": "={{ $json.key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        256
      ],
      "id": "0d3791da-c540-4e20-b50a-f9e4723325b9",
      "name": "项目根目录设置"
    },
    {
      "parameters": {
        "url": "={{ $('API配置').first().json.self_api_url }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        -112
      ],
      "id": "060857e6-c4b3-44b4-9589-55b94441926a",
      "name": "服务校验",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        208
      ],
      "id": "86de0bfb-2baa-43d6-9868-515d4b895e2c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1137c32a-a534-402a-94a2-7498dd9d8526",
              "name": "detector_name",
              "value": "={{ $json.body.detector_name }}",
              "type": "string"
            },
            {
              "id": "805f37ac-f98b-4c97-bc2e-bfbc6f8b97a2",
              "name": "original_dataset_dir",
              "value": "={{ $json.body.original_dataset_dir }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        512
      ],
      "id": "7fe0d7fd-d636-41ab-8728-9742339e8c24",
      "name": "ori_data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0311427-fcea-4874-8662-dc3bce9c4801",
              "name": "self_api_url",
              "value": "={{ $json.self_api_url }}",
              "type": "string"
            },
            {
              "id": "b265be52-139a-47bd-8178-f64be074d095",
              "name": "project_workspace",
              "value": "={{ $json.project_workspace }}",
              "type": "string"
            },
            {
              "id": "d52d907c-bdc5-417a-9297-645ec4f9a996",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "9ad97995-e4d5-40a3-8bba-62f28c844814",
              "name": "key",
              "value": "={{ $json.key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        208
      ],
      "id": "40084ea7-dd77-46f8-b3cd-0c7210df21e5",
      "name": "base_config"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        304
      ],
      "id": "32b831f7-6f69-46d1-b180-354d0b59ed23",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/xml-to-yolo ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.original_dataset_dir }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        304
      ],
      "id": "d9a4ed65-bc9f-47eb-9f35-156f9362098e",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/split-yolo-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('xml-to-yolo').item.json.input_dir }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('xml-to-yolo').item.json.input_dir }}/split_dataset"
            },
            {
              "name": "mode",
              "value": "={{ $('train_config').first().json.split_mode }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        352
      ],
      "id": "59ae0b64-4e23-4829-8972-a72ed2a936c5",
      "name": "split"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/yolo-sliding-window-crop",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.output_dir }}_crops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        352
      ],
      "id": "ff0dbbfa-3dbc-470b-b398-2391e3344901",
      "name": "crop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/yolo-augment",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        352
      ],
      "id": "5fda3bf9-d1ff-4c78-9109-1fc792b5f104",
      "name": "augment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/publish-yolo-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.input_dir }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('项目根目录设置').first().json.project_workspace }}"
            },
            {
              "name": "detector_name",
              "value": "={{ $('ori_data').first().json.detector_name }}"
            },
            {
              "name": "publish_mode",
              "value": "={{ $('train_config').first().json.execution_mode }}"
            },
            {
              "name": "remote_host",
              "value": "={{ $('train_config').first().json.remote_host }}"
            },
            {
              "name": "remote_project_root_dir",
              "value": "={{ $('train_config').first().json.remote_project_root_dir }}"
            },
            {
              "name": "remote_username",
              "value": "={{ $('train_config').first().json.remote_username }}"
            },
            {
              "name": "remote_private_key_path",
              "value": "={{ $('train_config').first().json.remote_private_key_path }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        352
      ],
      "id": "603e050b-cfe0-4259-8b52-b42822be120a",
      "name": "publish-dataset"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $('publish-dataset').first().json.output_yaml_path }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('项目根目录设置').first().json.project_workspace }}"
            },
            {
              "name": "project",
              "value": "={{ $('publish-dataset').first().json.recommended_train_project }}"
            },
            {
              "name": "name",
              "value": "={{ $('publish-dataset').first().json.recommended_train_name }}"
            },
            {
              "name": "yolo_train_env",
              "value": "={{ $('train_config').first().json.yolo_train_env }}"
            },
            {
              "name": "model",
              "value": "={{ $('train_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('train_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('train_config').first().json.yolo_train_imgsz }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        320
      ],
      "id": "c73cc846-8fb0-4797-81e7-6530bec053ec",
      "name": "yolo-train"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/remote-sbatch-yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "host",
              "value": "={{ $('train_config').first().json.remote_host }}"
            },
            {
              "name": "yaml_path",
              "value": "={{ $('publish-dataset').first().json.output_yaml_path }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('train_config').first().json.remote_project_root_dir }}"
            },
            {
              "name": "project",
              "value": "={{ $('publish-dataset').first().json.recommended_train_project }}"
            },
            {
              "name": "name",
              "value": "={{ $('publish-dataset').first().json.recommended_train_name }}"
            },
            {
              "name": "yolo_train_env",
              "value": "={{ $('train_config').first().json.yolo_train_env }}"
            },
            {
              "name": "model",
              "value": "={{ $('train_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('train_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('train_config').first().json.yolo_train_imgsz }}"
            },
            {
              "name": "username",
              "value": "={{ $('train_config').first().json.remote_username }}"
            },
            {
              "name": "private_key_path",
              "value": "={{ $('train_config').first().json.remote_private_key_path }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        512
      ],
      "id": "1c06bc0a-7f22-44a7-88b6-bc1940fa00f5",
      "name": "remote-sbatch-yolo-train"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1776,
        416
      ],
      "id": "04dd4e61-1bc3-4c7b-bda5-139e42244974",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd6ad885-ef63-43b8-a0dc-40c239671be2",
              "name": "yolo_train_env",
              "value": "={{ $json.body.yolo_train_env || 'yolo_pose' }}",
              "type": "string"
            },
            {
              "id": "d891dccc-4ab2-485d-80ba-4f22485ad1e7",
              "name": "yolo_train_model",
              "value": "={{ $json.body.yolo_train_model || 'yolo11s.pt' }}",
              "type": "string"
            },
            {
              "id": "8f531c60-758d-40aa-af40-9cd305adf5e5",
              "name": "yolo_train_epochs",
              "value": "={{ $json.body.yolo_train_epochs || 5 }}",
              "type": "string"
            },
            {
              "id": "50df2ce3-1755-44d6-acf3-1c76f7d0ef35",
              "name": "yolo_train_imgsz",
              "value": "={{ $json.body.yolo_train_imgsz || 640 }}",
              "type": "string"
            },
            {
              "id": "bb7e2180-e229-40e4-b7ad-4a70e484863d",
              "name": "split_mode",
              "value": "={{ $json.body.split_mode || 'train_val' }}",
              "type": "string"
            },
            {
              "id": "399b3173-c4e0-4ca5-a6dd-0e67ebc773a7",
              "name": "execution_mode",
              "value": "={{ $json.body.remote_host && $json.body.remote_username && $json.body.remote_private_key_path ? 'remote_sftp' : 'local' }}",
              "type": "string"
            },
            {
              "id": "6769c8df-5642-4699-b8bc-ae59e84b4dc2",
              "name": "remote_host",
              "value": "={{ $json.body.remote_host || '' }}",
              "type": "string"
            },
            {
              "id": "6aa7f145-d785-4b7d-85ae-359906d31972",
              "name": "remote_project_root_dir",
              "value": "={{ $json.body.remote_project_root_dir || $json.body.workspace_root_dir }}",
              "type": "string"
            },
            {
              "id": "7bbfddcc-b2d6-4a9d-a972-55b64385db47",
              "name": "remote_username",
              "value": "={{ $json.body.remote_username || '' }}",
              "type": "string"
            },
            {
              "id": "b628ef62-fe70-40ab-9019-475033fcc9d4",
              "name": "remote_private_key_path",
              "value": "={{ $json.body.remote_private_key_path || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        704
      ],
      "id": "2ce37621-f070-46e0-99f9-44c4995ed7c1",
      "name": "train_config"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        352
      ],
      "id": "dcf78af9-758f-42d3-80e6-bcdcbd102bfa",
      "name": "Merge4"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "API配置",
            "type": "main",
            "index": 0
          },
          {
            "node": "用户变量",
            "type": "main",
            "index": 0
          },
          {
            "node": "项目选择",
            "type": "main",
            "index": 0
          },
          {
            "node": "ori_data",
            "type": "main",
            "index": 0
          },
          {
            "node": "train_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API配置": {
      "main": [
        [
          {
            "node": "服务校验",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "项目选择": {
      "main": [
        [
          {
            "node": "项目名称确定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "用户变量": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "项目根目录设置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "项目名称确定": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "项目根目录设置": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ori_data": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crop": {
      "main": [
        [
          {
            "node": "augment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "augment": {
      "main": [
        [
          {
            "node": "publish-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publish-dataset": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "训练模式路由",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "train_config": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "训练模式路由": {
      "main": [
        [
          {
            "node": "yolo-train",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "remote-sbatch-yolo-train",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "52467f4e-0c17-47e0-97f6-95bdeafe239d",
  "meta": {
    "instanceId": "c4b7aa9096bc87944216bba48ef2687b8e22851666781e0193f26f348f4651ec"
  },
  "id": "KtHqSn0LE2QHFrTX",
  "tags": []
}