docs/n8n/模型训练工作流-死参数.json
{
  "name": "模型训练工作流",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -7504,
        4320
      ],
      "id": "bfd11d8d-d09b-4076-a9d6-47a6b48f20fb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd0c817f-3830-4af3-a0cc-35e0ad1adbbe",
              "name": "self_api_url",
              "value": "http://192.168.1.73:8666",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6016,
        3376
      ],
      "id": "73facc91-35cd-478f-810a-9cb5cab1a2a4",
      "name": "API配置"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95be8997-9ed0-4861-b497-6105315cae25",
              "name": "username",
              "value": "sk",
              "type": "string"
            },
            {
              "id": "b2b75ffa-d54e-4d24-b5e7-9e53dfa4a740",
              "name": "key",
              "value": "",
              "type": "string"
            },
            {
              "id": "cd7096cd-783d-4490-ac9e-06537d3cd1d9",
              "name": "workspace_root_dir",
              "value": "/Users/songkui/mycode/self_api/workspace_root",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6464,
        3592
      ],
      "id": "67b8e6f2-05ae-4d82-a5bf-cca7848549ea",
      "name": "用户变量"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.project_name }}",
                    "rightValue": "TEDS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a586bfa-c0db-4520-a55f-3f2562432de3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f502ab84-dbe7-4a53-9d6f-605355131575",
                    "leftValue": "={{ $json.project_name }}",
                    "rightValue": "TFDS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0ffc3b53-0503-4d0e-9995-ef5443bc67fe",
                    "leftValue": "={{ $json.project_name }}",
                    "rightValue": "TVDS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "98319fe2-859f-4c17-a4ca-763d59592b0e",
                    "leftValue": "={{ $json.project_name }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -6688,
        3752
      ],
      "id": "5dbbd96c-e242-4efc-9d00-e6062e0976f3",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb0d3953-82dd-4c46-92c4-c9682f778f0c",
              "name": "project_name",
              "value": "TVDS",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6912,
        3784
      ],
      "id": "c0725eb7-b9ad-4192-a3ca-66c4cb640d80",
      "name": "项目选择"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6240,
        3688
      ],
      "id": "b9bde197-5616-45a8-87d4-c368d536068a",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70a2826e-5fe4-4bb5-b580-a50a40b46c18",
              "name": "=project_name",
              "value": "={{ $json.project_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6464,
        3784
      ],
      "id": "721a2438-149a-4bb9-93d1-9e9ecbe4c119",
      "name": "项目名称确定"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7bf64ad-b992-472b-adac-10d24f99dde8",
              "name": "project_workspace",
              "value": "={{ $json.workspace_root_dir }}/{{ $json.project_name }}",
              "type": "string"
            },
            {
              "id": "81240e49-d422-407a-a588-c873076f86ed",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "143fc113-a337-4be7-88a9-5c0053caa836",
              "name": "key",
              "value": "={{ $json.key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6016,
        3688
      ],
      "id": "962dee7b-1754-4580-9a2d-b92710a44075",
      "name": "项目根目录设置"
    },
    {
      "parameters": {
        "url": "={{ $('API配置').first().json.self_api_url }}/api/v1/healthz",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5792,
        3328
      ],
      "id": "799ec10c-d9b3-4985-a5c1-dc6b454655a8",
      "name": "服务校验",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5792,
        3640
      ],
      "id": "18ffeda4-3f2a-41f6-be0f-342691c327d0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1137c32a-a534-402a-94a2-7498dd9d8526",
              "name": "detector_name",
              "value": "nzxj_louyou",
              "type": "string"
            },
            {
              "id": "805f37ac-f98b-4c97-bc2e-bfbc6f8b97a2",
              "name": "original_dataset_dir",
              "value": "/Users/songkui/mycode/self_api/tmp_datasets/dataset1",
              "type": "string"
            },
            {
              "id": "0254a841-80e0-4d5a-8d50-e19658675635",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5568,
        3968
      ],
      "id": "3eaa943f-2587-44b8-a368-8af93cf2a2fd",
      "name": "ori_data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0311427-fcea-4874-8662-dc3bce9c4801",
              "name": "self_api_url",
              "value": "={{ $json.self_api_url }}",
              "type": "string"
            },
            {
              "id": "b265be52-139a-47bd-8178-f64be074d095",
              "name": "project_workspace",
              "value": "={{ $json.project_workspace }}",
              "type": "string"
            },
            {
              "id": "d52d907c-bdc5-417a-9297-645ec4f9a996",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "9ad97995-e4d5-40a3-8bba-62f28c844814",
              "name": "key",
              "value": "={{ $json.key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5568,
        3640
      ],
      "id": "e3012852-871c-4d8e-a6e0-a3c6639f6bc1",
      "name": "base_config"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5344,
        3736
      ],
      "id": "ba9ed413-7e91-4388-b70a-767ba902bb00",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/xml-to-yolo ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.original_dataset_dir }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -5120,
        3736
      ],
      "id": "4be3563d-4b64-49df-b16f-54cec7c8edb7",
      "name": "xml-to-yolo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/split-yolo-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $('xml-to-yolo').item.json.input_dir }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $('xml-to-yolo').item.json.input_dir }}/split_dataset"
            },
            {
              "name": "mode",
              "value": "={{ $('train_config').first().json.mode }}"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4672,
        3784
      ],
      "id": "22350d22-b93a-4b05-a84b-ce8bba363dd2",
      "name": "split"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/yolo-sliding-window-crop",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}"
            },
            {
              "name": "output_dir",
              "value": "={{ $json.output_dir }}_crops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4448,
        3784
      ],
      "id": "c4dc462f-48a8-445f-bcd0-9484f69de6b1",
      "name": "crop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/yolo-augment",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.output_dir }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4224,
        3784
      ],
      "id": "e00bb99a-fbf7-4c8b-8905-8b78ca1f7756",
      "name": "augment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/publish-yolo-dataset",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_dir",
              "value": "={{ $json.input_dir }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('项目根目录设置').first().json.project_workspace }}"
            },
            {
              "name": "detector_name",
              "value": "={{ $('ori_data').first().json.detector_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -4000,
        3784
      ],
      "id": "20fc13e7-1909-4b44-aecc-14e52838e720",
      "name": "publish-dataset"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('base_config').first().json.self_api_url }}/api/v1/preprocess/yolo-train",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yaml_path",
              "value": "={{ $('publish-dataset').first().json.output_yaml_path }}"
            },
            {
              "name": "project_root_dir",
              "value": "={{ $('项目根目录设置').first().json.project_workspace }}"
            },
            {
              "name": "project",
              "value": "={{ $('publish-dataset').first().json.recommended_train_project }}"
            },
            {
              "name": "name",
              "value": "={{ $('publish-dataset').first().json.recommended_train_name }}"
            },
            {
              "name": "yolo_train_env",
              "value": "={{ $('train_config').first().json.yolo_train_env }}"
            },
            {
              "name": "model",
              "value": "={{ $('train_config').first().json.yolo_train_model }}"
            },
            {
              "name": "epochs",
              "value": "={{ $('train_config').first().json.yolo_train_epochs }}"
            },
            {
              "name": "imgsz",
              "value": "={{ $('train_config').first().json.yolo_train_imgsz }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3552,
        3856
      ],
      "id": "a8129e97-164b-42d1-8574-b14fe62816b9",
      "name": "yolo-train"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3776,
        3856
      ],
      "id": "b14f1711-c661-4dfd-8765-bcbd90f732ea",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd6ad885-ef63-43b8-a0dc-40c239671be2",
              "name": "yolo_train_env",
              "value": "yolo_pose",
              "type": "string"
            },
            {
              "id": "d891dccc-4ab2-485d-80ba-4f22485ad1e7",
              "name": "yolo_train_model",
              "value": "yolo11s.pt",
              "type": "string"
            },
            {
              "id": "8f531c60-758d-40aa-af40-9cd305adf5e5",
              "name": "yolo_train_epochs",
              "value": "5",
              "type": "string"
            },
            {
              "id": "50df2ce3-1755-44d6-acf3-1c76f7d0ef35",
              "name": "yolo_train_imgsz",
              "value": "640",
              "type": "string"
            },
            {
              "id": "bb7e2180-e229-40e4-b7ad-4a70e484863d",
              "name": "mode",
              "value": "train_val",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5120,
        4160
      ],
      "id": "551c7bf9-60db-47c9-b65d-5d55eed52dfd",
      "name": "train_config"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4896,
        3784
      ],
      "id": "6303e7e6-7ce0-417d-b3f7-a642756106df",
      "name": "Merge4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "API配置",
            "type": "main",
            "index": 0
          },
          {
            "node": "用户变量",
            "type": "main",
            "index": 0
          },
          {
            "node": "项目选择",
            "type": "main",
            "index": 0
          },
          {
            "node": "ori_data",
            "type": "main",
            "index": 0
          },
          {
            "node": "train_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API配置": {
      "main": [
        [
          {
            "node": "服务校验",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "项目选择": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "用户变量": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "项目名称确定",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "项目名称确定",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "项目名称确定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "项目根目录设置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "项目名称确定": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "服务校验": {
      "main": [
        []
      ]
    },
    "项目根目录设置": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ori_data": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "base_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base_config": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "xml-to-yolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xml-to-yolo": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split": {
      "main": [
        [
          {
            "node": "crop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crop": {
      "main": [
        [
          {
            "node": "augment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "augment": {
      "main": [
        [
          {
            "node": "publish-dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "publish-dataset": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "yolo-train",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "train_config": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "40ed0648-7f2f-46e8-b68e-732f910bc0e8",
  "meta": {
    "templateId": "14020",
    "templateCredsSetupCompleted": true,
    "instanceId": "c4b7aa9096bc87944216bba48ef2687b8e22851666781e0193f26f348f4651ec"
  },
  "id": "GyBJY3RCGJ9wThAe",
  "tags": []
}